.cart__item{
    flex: 0 0 auto;
    position: relative;
    background: #fff;
    border-bottom: 1px solid #d9d9d9;
    padding: 1em;
}

.cart__item_box{
    display: flex;
}

.cart_image__area{
    position: relative;
    width: 70px;
    flex-shrink: 0;
    margin-right: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart_image{
    position: relative;
    width: 70px;
    height: 70px;
}

.cart__image{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.cart__info__box{
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    width: 100%;
}

.cart__product_title{
    line-height: 22px; 
    overflow: hidden;
    -webkit-line-clamp: 3;
    font-weight: 400;
    font-size: 16px;
}

.cart__count_box{
    outline: none;
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
}

.count_cart_area{
    float: left;
}

.counter_round{
    position: relative;
    border-radius: 16px;
    height: 30px;
    text-align: center;
    width: 132px;
}

.button_less{
    left: 0;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    position: absolute;
    top: 0;
    background: transparent;
    z-index: 1;
    height: 100%;
    border: 1px solid transparent;
    padding-left: 14px;
    height: 100%;
    cursor: pointer;
    color: #fff;
    background-color: #0065ff;
}

.button_add{
    right: 0;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    position: absolute;
    top: 0;
    background: transparent;
    z-index: 1;
    height: 100%;
    border: 1px solid transparent;
    padding-right: 14px;
    height: 100%;
    cursor: pointer;
    color: #fff;
    background-color: #0065ff;
}

.remove_cart{
    border: none;
    font-size: 14px;
    text-decoration: underline;
    position: absolute;
    height: 30px;
    width: 70px;
    left: 16px;
    bottom: 18px;
    background-color: hsla(0,0%,100%,.85);
    border-radius: 2px;
    cursor: pointer;
}

.count_box{
    color: #000;
    display: inline-block;
    position: relative;
    vertical-align: top;
    font-size: 14px;
    font-weight: 700;
    border-top: 1px solid #0065ff;
    border-bottom: 1px solid #0065ff;
    width: 80px;
    height: 28px;
    text-align: center;
}

.cart_input{
    border: none;
    pointer-events: none;
    z-index: 1;
    position: absolute;
    left: 2px;
    text-align: center;
    padding: 0;
    margin: 1px 3px;
    width: 67px;
    height: 26px;
    background: #fff;
    display: inline-block;
    opacity: 1;
    -webkit-text-fill-color: #000;
}

.cart__price__box{
    float: right;
}

.cart__price{
    height: 1px;
    width: 1px;
    clip: rect(1px,1px,1px,1px);
    overflow: hidden!important;
    font-weight: 700;
    font-size: 18px;
    color: #000;
}