body {
    background-color: #21212B;
    text-align: center;
    color: aliceblue;
}
.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.listLollies {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.listLollies .lollipop, .lollyFormDiv .lollipop {
    height: 300px;
}
 
.lollyFormDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lollyFlavourDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.colorPickerLabel {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 20px;
    overflow: hidden;


}
.colorPicker {
    width: 80px;
    height: 80px;
    margin-top: -10px;
    margin-left: -10px;
}

.lollyForm {
    background-color: #15151B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 4px;
    border-radius: 5px;
}

.lollyForm input, .lollyForm label {
    background-color: #222222;
}


.CreateLollyButton {
    padding: 10px;
    border: 4px;
}
