.container-plus {
    background-color: #92DCE5;
    height: 100vh;
    width: 100vw;
    border-radius: 3px;
    padding: 2px;
}

.container {
    width: 80%;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}
.card-container > .card{
    background-color: #0B3C49;
    color: white;
    display: inline-block;
    box-shadow: 0 0 10px grey;
    display: inline-block;
    height: 100px;
    width: 300px;
    padding: 20px;
    margin: 10px;
}

