.App{
    display: flex;
    flex-direction: column;
}

body{
    margin: 0;
    font-family: BogleWeb,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.5;
    height: 100%;
    width: 100%;
}

.section{
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding: 0 8px 8px;
    position: relative;
}

@media (min-width: 1024px){
    .section{
        padding-left: 20px;
        padding-right: 12px;
    }
}

@media (min-width: 768px){
    .section{
        padding: 0 16px 24px;
    }
}